<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Salvo!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/games.css">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">
</head>

<body>
  <div class="container-fluid bg">
    <div class="row bg-black-50" id="userInfo">
      <div class="col-3 my-auto">
        <h5 class="text-warning">User: <span class="text-white font-italic">{{player}}</span></h5>
      </div>
      <div class="col-6">
        <h1 class="display-3 font-weight-bold font-italic mx-auto text-warning">Salvo</h1>
      </div>
      <div class="col-3 my-auto text-warning">
        <div v-if="player=='guest'">
          <div class="row small my-2">
            <div class="col-9 px-0"><label class="my-auto">Username: <input type="text" v-model="credential.username"/></label></div>
            <div class="col-3 my-auto"><button class="btn-block" @click="login">Login</button></div>
          </div>
          <div class="row small my-2">
            <div class="col-9 px-0"><label class="my-auto">Password:&nbsp; <input type="password" v-model="credential.password"/> </label></div>
            <div class="col-3 my-auto"><button class="btn-block" @click="signup">SignUp</button></div>
          </div>
        </div>
        <div v-else>
          <div class='row'>
            <div class='col-9 px-0'></div>
            <div class="col-3 px-0"><button @click="logout">Logout</button></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-6" id="gameList">
        <div class="row">
          <div class="col-7">
            <h2 class="display-5 font-weight-bold font-italic ml-4 my-3 text-warning bg-black-50 rounded">&nbspGame List&nbsp&nbsp&nbsp</h2>
          </div>
            <button v-if="player!='guest'" @click="createGame" class="btn btn-warning btn-lg border-dark my-auto" type='button'>Create Game</button>
        </div>
        <table class="mx-4 mt-2 table table-bordered table-sm table-responsive-sm text-white bg-black-50">
          <thead>
          <tr>
            <th v-for='t in titles'>{{t}}</th>
          </tr>
          </thead>
          <tbody>
            <tr v-for='g in games'>
              <td class="font-weight-bold">
                <button class="btn-warning btn-block" v-if="g.viewUrl" @click="this.location.href=g.viewUrl">{{g.gameId}}</button>
                <span v-else>{{g.gameId}}</span></td>
              <td>{{g.created}}</td>
              <td class="text-left">{{g.player1}}</td>
              <td class="text-left">
                <button class="btn-warning btn-block" v-if="g.join" @click="joinGame(g.gameId)">Join</button>
                <span v-else>{{g.player2}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-6">
        <h2 class="display-5 font-weight-bold font-italic ml-4 my-3 text-warning bg-black-50 rounded">&nbspLeaderboard&nbsp</h2>
        <table class="mx-4 w-25 mt-2 table table-bordered table-sm table-responsive-sm bg-black-50 text-white" id="leaderBoard">
          <thead>
            <tr>
              <th v-for='t in titles'>{{t}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='p in players'>
              <td class="text-left">{{p.name}}</td>
              <td>{{p.total}}</td>
              <td>{{p.won}}</td>
              <td>{{p.lost}}</td>
              <td>{{p.tied}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="scripts/games.js"></script>
  <script src="scripts/authentication.js"></script>
</body>
</html>
