<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ship Locations!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/game.css">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">
</head>

<body>
  <div class="container-fluid bg" id="grids">
    <div class="row bg-black-50">
      <div class="col-3 my-auto"></div>
      <div class="col-6">
        <h1 class="display-3 font-weight-bold font-italic mx-auto text-warning">Salvo</h1>
      </div>
      <div class="col-3 my-auto text-warning">
        <div>
          <div class="row">
            <div class="col-9 px-0"></div>
            <div class="col-3 px-0"><button @click="logout">Logout</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="mx-auto my-3 text-warning bg-black-50 rounded">
          &nbsp You: &nbsp<span class="text-white font-italic">{{you}}</span>&nbsp
        </h5>
        <h5 class="mx-auto my-3 text-warning bg-black-50 rounded">&nbsp Yours ships : &nbsp</h5>

        <table class="mx-auto mt-4 table table-bordered table-sm table-responsive-lg bg-blue-50">
          <thead>
            <tr class='bg-dark'>
              <th class='py-1'></th>
              <th v-for='c in columns' class='py-1 text-white'>{{c}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(r, index_Y) in rows">
              <th class="py-1 text-white bg-dark">{{r}}</th>
              <!-- <td v-for="v in shipVisibility[r.charCodeAt(0)-65]" class="p-0"> -->
              <td v-for="(v, index_X) in shipVisibility[index_Y]" class="p-0">
                <div v-if="v!=null" class="py-2 badge border border-dark d-block"
                     :class="'badge-'+(v > 0?'danger':(v<0?'warning':'light'))" :id="r+ (index_X+1)"
                     @click.prevent='v<0? rotate(v,$event) : "" '
                     @dragstart='(v < 0) ? dragStart(v,$event) : "" '>
                    &nbsp{{v > 0?v:''}}&nbsp
                </div>
                <div v-if="v == null && gameStatus < 1" @dragover="allowDrop" @drop="drop(index_X, index_Y, $event)"
                     class="div-ship" :id="r+ (index_X+1)">
                  &nbsp;
                </div>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <h5 class="mx-auto my-3 text-warning bg-black-50 rounded">
            &nbsp Enemy: &nbsp<span class="text-white font-italic">{{enemy}}</span>&nbsp
          </h5>
          <h5 class="mx-auto my-3 text-warning bg-black-50 rounded">&nbsp {{(gameStatus > 0)?"Yours salvoes":"Remaining ships"}} : &nbsp</h5>

          <table v-if='gameStatus > 0' class="mx-auto mt-4 table table-bordered table-sm table-responsive-lg bg-blue-50">
            <thead>
              <tr class='bg-dark'>
                <th class='py-1'></th>
                <th v-for='c in columns' class='py-1 text-white'>{{c}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="r in rows">
                <th class="py-1 text-white bg-dark">{{r}}</th>
                <td v-for="v in salvoVisibility[r.charCodeAt(0)-65]" class="p-0 w-2">
                  <div v-if="v!=null" class="py-2 badge badge-pill badge-warning border border-dark">
                    &nbsp{{v}}&nbsp
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table v-else class="mx-auto mt-4 table table-bordered table-sm table-responsive-lg bg-blue-50 w-75">
            <tr v-if="new_ships.length > 0">
              <td colspan="2"><div ><button class="btn btn-warning border-dark" @click="addShips">Done</button></div></td>
            </tr>
            <tr v-for='rs in remainingShips' class="">
              <th class='py-1 text-white w-100 bg-dark align-middle'>
                {{rs.type}}
              </th>
              <td class="">
                <div class="div-parking">
                  <img :src="'img/'+ rs.type + '.png'" class="h-50 my-3"
                       draggable="true" @dragstart="dragStart(-1,$event)"
                       :data-type="rs.type" :data-length="rs.length" data-horizontal='true'
                       data-remaining="true" data-ship="-1">
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="scripts/game.js"></script>
    <script src="scripts/authentication.js"></script>
  </body>
  </html>
